@use 'card.scss';

:root {
  --backgroundColor: #d4f8c5;
  --borderColor: hsl(96, 95%, 67%);
  --cardBg: hsl(273, 91%, 91%);
  --card-height: 10rem;
  --card-width: var(--card-height);
  --fontFamily: sans-serif;
  --fontSize: 1rem;
  --spacers: 0.5em;
  --size: 16px;
  --time: 0.707s;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--size);
  box-sizing: border-box;
  border-left: 2px solid #000;
}

body {
  background: var(--backgroundColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

main {
  border: 1px solid var(--borderColor);
  border-radius: 1em;
  padding: calc(var(--spacers) * 4);
}

.board {
  display: grid;
  gap: calc(var(--spacers) * 2);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  place-items: center center;
  width: 50em;
}

.card-body {
  display: flex;
  // flex: 1;
  transition: var(--time) transform;
  transform-style: preserve-3d;

  &.clicked {
    transform: rotateY(-180deg);
    transition-delay: 0s;
    // z-index: 1;
  }
}

.face-up,
.face-down {
  backface-visibility: hidden;
  min-width: 100%;
}

.face-down {
  align-items: center;
  color: hsla(202, 98%, 53%, 0.5);
  display: flex;
  fill: currentColor;
  transform: rotateY(-180deg);
  transform-origin: center;
}

.face-up {
  align-items: center;
  color: hsla(32, 98%, 66%);
  display: flex;
  fill: currentColor;
  transform: translate(-100%);
}

.svg-definition {
  height: 0;
  position: absolute;
  width: 0;
}
